.container {
  padding: 0 30px;
}

header {
  position: fixed;
  height: 80px;
  z-index: 99;
  width: 100%;
}
header nav a:hover {
  color: #b61984;
}
header .header__logo img {
  width: 80px;
}
header .header__phone a {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 0 30px #b61984 inset;
  border: 1px solid #b61984;
  transition: 0.3s ease;
}
header .header__phone a i {
  transform: rotate(270deg);
  font-size: 18px;
}
header .header__phone a:hover {
  box-shadow: none;
  color: #b61984;
  cursor: pointer;
}
header .header__link a i {
  font-size: 18px;
  margin-left: 28px;
}
header .header__link a:hover {
  color: #b61984;
}

section .banner {
  padding-top: 60px;
  background-image: url("../images/yellow_top_wave_01.png"), url("../images/Violet_top_left_wave.png");
  background-position: top center, bottom;
  background-repeat: no-repeat;
  background-size: contain, contain;
}
section .banner .banner__left span {
  color: #b61984;
}
section .banner .banner__left h1 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 700;
}

#userItem {
  background-color: #dcd1f0;
  background-image: url("../images/Wave_White_bottom_right_shape_01.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#userItem .user__item {
  transition: 0.3s ease-in-out;
}
#userItem .user__item .item__img {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#userItem .user__item .item__img img {
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  width: 100%;
  height: 250px;
}
#userItem .user__item .item__img:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}
#userItem .user__item .item__desc {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#userItem .user__item .item__desc span {
  font-size: 18px;
  color: #b61984;
  font-weight: 400;
}
#userItem .user__item .item__desc h3 {
  font-size: 22px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#userItem .user__item .item__desc p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#userItem .user__item:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contact {
  display: flex;
  justify-content: center;
  background-image: url(../images/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.contact input:focus-visible,
.contact select:focus-visible,
.contact textarea:focus-visible {
  outline: none;
}
.contact .infor__name:focus-within,
.contact .infor__email:focus-within,
.contact .contact__language:focus-within,
.contact .contact__textArea:focus-within {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.contact .contact__img img {
  width: 527px;
  height: auto;
}
.contact .contact__form {
  background-color: #fff;
  text-align: center;
  padding: 0 25px;
  border-radius: 12px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.contact .contact__form .contact__infor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.contact .contact__form .contact__infor .infor__name,
.contact .contact__form .contact__infor .infor__email {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  padding: 8px;
}
.contact .contact__form .contact__language {
  display: flex;
  align-items: center;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  padding: 8px;
  margin: 20px 0;
  cursor: pointer;
}
.contact .contact__form .contact__language select {
  width: 100%;
}
.contact .contact__form .contact__textArea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
}
.contact button {
  width: 100%;
  margin: 20px 0;
  text-align: left;
}
.contact button input {
  background-color: transparent;
  padding: 12px 55px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 0 0 30px #b61984 inset;
  border: 1px solid #b61984;
  transition: 0.3s ease;
  cursor: pointer;
}
.contact button input:hover {
  box-shadow: none;
  color: #b61984;
}

footer {
  background-color: #aa017e;
  color: #fff;
  background-image: url("../images/footer_background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  padding: 160px 0;
}
footer .footerContent .footerItem {
  font-size: 14px;
  font-weight: 400;
}
footer .footerContent .footerItem i {
  font-size: 16px;
}
footer .footerContent .footerItem:nth-child(1) ul li {
  margin: 8px 0;
}
footer .footerContent .footerItem:nth-child(1) ul li span i {
  margin-top: 12px;
}
footer .footerContent .footerItem:nth-child(1) ul li span i:hover {
  cursor: pointer;
  color: #000;
}
footer .footerContent .footerItem:nth-child(1) ul li i {
  margin-right: 4px;
}
footer .footerContent .footerItem:nth-child(2) .itemContent,
footer .footerContent .footerItem:nth-child(3) .itemContent {
  display: flex;
}
footer .footerContent .footerItem:nth-child(2) li,
footer .footerContent .footerItem:nth-child(3) li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
footer .footerContent .footerItem:nth-child(2) li a:hover,
footer .footerContent .footerItem:nth-child(3) li a:hover {
  opacity: 0.8;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 100%;
  color: #fff;
  background-color: #b61984;
  border-radius: 999px;
  transition: 0.3s linear;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input::-moz-placeholder {
  color: #fff;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input:-ms-input-placeholder {
  color: #fff;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input::placeholder {
  color: #fff;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input:focus {
  border: 1px solid #fff;
}
footer .footerContent .footerItem:nth-child(4) .newsInput input:focus-visible {
  outline: none;
}
footer .footerContent .footerItem:nth-child(4) .newsBtn button {
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  border-radius: 999px;
  background-color: transparent;
  color: #000;
  font-weight: 500;
  box-shadow: 0 0 0 3em #fff inset;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
footer .footerContent .footerItem:nth-child(4) .newsBtn button:hover {
  box-shadow: 0 0 0 1px #fff inset;
  color: #fff;
  border: 1px solid #fff;
}
footer .footerContent .itemTitle {
  margin-bottom: 24px;
}
footer .footerContent .itemTitle h3 {
  font-size: 24px;
  font-weight: 700;
}

/* ---------------------Admin Page---------------------------------------------------------------------- */
.content {
  padding: 0 60px;
}
.content .panel button {
  padding: 6px 12px;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
}
.content .panel button:hover {
  background-color: #218838;
}
.content .search input {
  min-width: 400px;
  padding: 0 10px;
  font-size: 16px;
  color: #495057;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.content .search input:focus-visible {
  outline: none;
}
.content .search input:focus {
  border-color: #80bdff;
}
.content .searchIcon {
  border: 1px solid #ced4da;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #e9ecef;
}
.content .searchIcon:hover {
  opacity: 0.8;
}
.content .searchIcon i {
  font-size: 20px;
  transform: rotate(-90deg);
}
.content table thead th {
  text-align: center;
  padding: 8px 0;
}
.content table tbody td {
  padding: 4px;
  text-align: center;
}
.content table tbody td span {
  text-decoration: underline;
  cursor: pointer;
}
.content table tbody td .edit {
  color: #17a2b8;
}
.content table tbody td .delete {
  color: #dc3545;
}

#modal .form-group {
  margin-bottom: 6px;
}
#modal .form-group input:focus,
#modal .form-group select:focus,
#modal .form-group textarea:focus {
  box-shadow: none;
}

#spinner {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */