$primary-color: #b61984;
$color-white: #fff;
$color-btn-1: #28a745;
$color-btn-2: #218838;
$color-btn-3: #e9ecef;
$color-btn-4: #17a2b8;
$color-btn-5: #dc3545;
$border-radius-1: 4px;
$border-radius-2: 12px;
$color-input-1: #495057;
$color-input-2: #ced4da;
$color-input-3: #80bdff;
$color-border-1: rgba(0, 0, 0, 0.1);
$color-black: #000;

.container {
  padding: 0 30px;
}

header {
  position: fixed;
  height: 80px;
  z-index: 99;
  width: 100%;
  nav {
    a:hover {
      color: $primary-color;
    }
  }

  .header__logo {
    img {
      width: 80px;
    }
  }

  .header__phone {
    a {
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 12px 20px;
      border-radius: 50px;
      background-color: transparent;
      color: $color-white;
      font-size: 14px;
      box-shadow: 0 0 0 30px #b61984 inset;
      border: 1px solid $primary-color;
      transition: 0.3s ease;
    }
    a {
      i {
        transform: rotate(270deg);
        font-size: 18px;
      }
    }
    a:hover {
      box-shadow: none;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .header__link {
    a {
      i {
        font-size: 18px;
        margin-left: 28px;
      }
    }
    a:hover {
      color: $primary-color;
    }
  }
}

section {
  .banner {
    padding-top: 60px;
    background-image: url('../images/yellow_top_wave_01.png'),
      url('../images/Violet_top_left_wave.png');
    background-position: top center, bottom;
    background-repeat: no-repeat;
    background-size: contain, contain;
    .banner__left {
      span {
        color: $primary-color;
      }
      h1 {
        font-size: 3.8rem;
        line-height: 1.2;
        font-weight: 700;
      }
    }
  }
}

#userItem {
  background-color: #dcd1f0;
  background-image: url('../images/Wave_White_bottom_right_shape_01.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  .user__item {
    transition: 0.3s ease-in-out;
    .item__img {
      overflow: hidden;
      border-top-left-radius: $border-radius-2;
      border-top-right-radius: $border-radius-2;

      img {
        transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
        width: 100%;
        height: 250px;
        // height: auto;
      }

      &:hover {
        img {
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
    }
    .item__desc {
      background-color: $color-white;
      border-bottom-left-radius: $border-radius-2;
      border-bottom-right-radius: $border-radius-2;

      span {
        font-size: 18px;
        color: $primary-color;
        font-weight: 400;
      }

      h3 {
        font-size: 22px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover {
      border-bottom-left-radius: $border-radius-2;
      border-bottom-right-radius: $border-radius-2;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  background-image: url(../images/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  .infor__name:focus-within,
  .infor__email:focus-within,
  .contact__language:focus-within,
  .contact__textArea:focus-within {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .contact__img {
    img {
      width: 527px;
      height: auto;
    }
  }

  .contact__form {
    background-color: $color-white;
    text-align: center;
    padding: 0 25px;
    border-radius: $border-radius-2;
    box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);

    .contact__infor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      .infor__name,
      .infor__email {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 999px;
        padding: 8px;
      }
    }

    .contact__language {
      display: flex;
      align-items: center;
      text-align: left;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 999px;
      padding: 8px;
      margin: 20px 0;
      cursor: pointer;
      select {
        width: 100%;
      }
    }

    .contact__textArea {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      padding: 10px;
    }
  }
  button {
    width: 100%;
    margin: 20px 0;
    text-align: left;
    input {
      background-color: transparent;
      padding: 12px 55px;
      border-radius: 50px;
      color: $color-white;
      box-shadow: 0 0 0 30px $primary-color inset;
      border: 1px solid $primary-color;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        box-shadow: none;
        color: $primary-color;
      }
    }
  }
}

footer {
  background-color: #aa017e;
  color: $color-white;
  background-image: url('../images/footer_background.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;

  .footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 160px 0;

    .footerItem {
      font-size: 14px;
      font-weight: 400;
      i {
        font-size: 16px;
      }
    }

    .footerItem:nth-child(1) {
      ul {
        li {
          margin: 8px 0;
          span {
            i {
              margin-top: 12px;
              &:hover {
                cursor: pointer;
                color: $color-black;
              }
            }
          }

          i {
            margin-right: 4px;
          }
        }
      }
    }

    .footerItem:nth-child(2),
    .footerItem:nth-child(3) {
      .itemContent {
        display: flex;
      }
      li {
        padding: 12px 0;
        border-bottom: 1px solid $color-border-1;

        a:hover {
          opacity: 0.8;
        }
      }
    }

    .footerItem:nth-child(4) {
      .newsInput {
        input {
          text-align: center;
          border: 1px solid rgba(255, 255, 255, 0.1);
          padding: 15px;
          width: 100%;
          color: $color-white;
          background-color: $primary-color;
          border-radius: 999px;
          transition: 0.3s linear;

          &::placeholder {
            color: $color-white;
          }

          &:focus {
            border: 1px solid $color-white;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }

      .newsBtn {
        button {
          padding: 15px;
          width: 100%;
          margin-top: 20px;
          border-radius: 999px;
          background-color: transparent;
          color: $color-black;
          font-weight: 500;
          box-shadow: 0 0 0 3em #fff inset;
          border: 1px solid transparent;
          transition: 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 0 1px #fff inset;
            color: #fff;
            border: 1px solid $color-white;
          }
        }
      }
    }

    .itemTitle {
      margin-bottom: 24px;
      h3 {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

/* ---------------------Admin Page---------------------------------------------------------------------- */

.content {
  padding: 0 60px;

  .panel {
    button {
      padding: 6px 12px;
      background-color: $color-btn-1;
      color: $color-white;
      border-radius: $border-radius-1;
    }

    button:hover {
      background-color: $color-btn-2;
    }
  }
  .search {
    input {
      min-width: 400px;
      padding: 0 10px;
      font-size: 16px;
      color: $color-input-1;
      border: 1px solid $color-input-2;
      border-top-left-radius: $border-radius-1;
      border-bottom-left-radius: $border-radius-1;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        border-color: $color-input-3;
      }
    }
  }

  .searchIcon {
    border: 1px solid $color-input-2;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: $border-radius-1;
    border-bottom-right-radius: $border-radius-1;
    background-color: #e9ecef;

    &:hover {
      opacity: 0.8;
    }

    i {
      font-size: 20px;
      transform: rotate(-90deg);
    }
  }

  table {
    thead {
      th {
        text-align: center;
        padding: 8px 0;
      }
    }

    tbody {
      td {
        padding: 4px;
        text-align: center;

        span {
          text-decoration: underline;
          cursor: pointer;
        }

        .edit {
          color: $color-btn-4;
        }

        .delete {
          color: $color-btn-5;
        }
      }
    }
  }
}

#modal {
  .form-group {
    margin-bottom: 6px;

    input:focus,
    select:focus,
    textarea:focus {
      box-shadow: none;
    }
  }
}

#spinner {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
